        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Times New Roman', Times, serif;
        }

        body {
            padding-top: 260px;
            background-color: #fffcf7;
        }

        header {
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-bottom: 100px;
        }


        .menun {
            color: black;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-align: center;
        }

        .menun:hover {
            background-color: #fffcf7;
        }

        .menu {
            position: relative;
            display: inline-block;
        }

        .menuzinho {
            display: none;
            position: absolute;
            top: 100%;
            background-color: #fffcf7;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            min-width: 125px;
            font-family: 'Times New Roman', Times, serif;
        }

        .menuzinho a {
            display: block;
            text-decoration: none;
            color: black;
            background-color: #fffcf7;
            transition: background-color 0.3s;
        }

        .menuzinho a:hover {
            background-color: #fffcf7
        }

        .menu:hover .menuzinho {
            display: block;
        }

        nav {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            border-bottom: 1px solid rgb(0, 0, 0);
            background-color: #fffcf7;
        }

        .barra a:link,
        a:visited {
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: block;
        }

        .barra a:hover,
        a:active {
            background-color: rgb(222, 168, 111);
            color: rgb(0, 0, 0);
            transition: background-color 0.3s;
        }

        .conteudo {
            margin: 0 auto;
            padding: 50px;
            width: 80%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 10px rgba(108, 70, 43, 0.5);
        }
            
        .capa {
            cursor: pointer;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            /* garante que imagem e overlay fiquem empilhados */
            justify-content: center;
            /* centraliza verticalmente */
            align-items: center;
            /* centraliza horizontalmente */
        }

        .capa .linfo {
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgb(222, 168, 111);
            padding: 10px;
            box-sizing: border-box;
            transition: left 0.8s ease;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .capa:hover .linfo {
            left: 0;
        }

        footer {
            padding: 10px;
            margin-top: 60px;
            background-color: rgb(222, 168, 111);
            text-align: center;
        }