* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item {
    padding: 10px;
}

nav {
    background-color: #1e3c37;
    color: white !important;
}

.active {
    cursor: default;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #1e3c37 !important;
    color: #fff !important;
}

.dropdown-menu {
    background: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.font {
    font-family: 'Cinzel', serif;
    font-variant: small-caps;
}
