* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    margin-left: 20%;
    background-color: #efedf8;
}

ul {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  left: 0;
  border-right: 1px solid #a78acd;
}
.infos {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 70px;
}
.direito{
  width: 100%;
}
.infoss {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 70px;
}
.infoss .textos{
  align-self: center;
  height: auto;
}
.textos {
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  padding-top: 35px;
  box-sizing: border-box;
  font-size: x-large;
  text-align: left;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.textos img{
  max-width: 100%;
  height: auto;
  display: block;
}
.textos a {
    color: #a78acd;
    display: inline-block;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.atual {
  background-color: #a78acd;
  color: white;
  cursor: default;
}

li a:hover:not(.atual) {
  background-color: #56495c;
  color: #cbbbe0;
  transition: background-color 0.3s;
}
footer{
  margin-top: 60px;
  width: 100%; 
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white; 
  border-top: 1px solid #a78acd; 
  text-align: center;
}